$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

html, body{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.intro{
    background-image: url("../images/seattle.jpg");
    min-height: 100%;
   /* background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.intro img{
   
    
}
.intro h2 {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
.intro h3 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
.about{
    background-color: #AA0000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#profile img{
    float: left; 
    margin-top: 350px;
    margin-left: 100px;
    margin-bottom: 350px;
    box-shadow: 6px 6px 15px black;
    display: flex;
    flex-direction: column;
}
#statement blockquote { 
    margin-top: 300px;
    margin-left: 450px;
    margin-bottom: 300px;
    width:400px;
    display: flex;
    flex-direction: column;
}
.projects{
    background-color: black;
    padding-top: 250px;
    padding-bottom: 250px;
  
}
.projectContent{
   margin: auto;
    
   /* margin-left: 400px;
    margin-right: auto;*/
}
/*
#thumbnailTop{
      margin-top: 250px;
      margin-bottom: 100px;
      margin-left: 140px;
}
#thumbnailBottom{
    margin-top: 100px;
    margin-bottom: 250px;
} */
.description{
    display: inline;
    background-color: white;
}
.collapse{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
.contact{
    background-color: #AA0000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
blockquote{
    color:white;
    text-shadow: 2px 2px 8px black;
}
#map iframe{
    float: left;
    margin-top: 300px;
    margin-left: 00px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 15px black;
}
#personal {
    background-color: white;
    font-size: 20px;
    width: 400px;
    height: 250px;
    margin-top: 300px;
    margin-left: 500px;
    box-shadow: 8px 8px 15px black;
    display: flex;
    flex-direction: column;   
}
#name{
    padding-top: 40px;
    padding-left: 30px;
}
#email{
    padding-left: 30px;
}
#phone{
    padding-left: 30px;
    padding-bottom: 0;
}
.icons{
    padding-bottom: 30px;
    padding-left: 30px;
    display: inline;
}
.navbar {
    margin: 0;
}  
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
