$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "transitions";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Responsive: Portrait tablets and up */


html, body{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #3299FF;
}

@mixin fluid-ratio($large-size, $small-size) {
  $width-large: nth($large-size, 1);
  $width-small: nth($small-size, 1);
  $height-large: nth($large-size, 2);
  $height-small: nth($small-size, 2);
  $slope: ($height-large - $height-small) / ($width-large - $width-small);
  $height: $height-small - $width-small * $slope;

  padding-top: $slope * 100%;
  height: $height;

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}
.s-24{
  font-size: 24px;
}
.zero-margin{
  margin: 0 auto;
}
.mt-20{
  margin-top: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.p-10{
    padding: 10px;
}
.pl-20{
  padding-left: 20px;
}
.pr-20{
  padding-right: 20px;
}
.inline-block{
  display: inline-block;
}
.center-text{
  text-align: center;
}
.bc-white{
  background: white;
}

.header-intro{
  display: flex;
  text-align: center;
  background-color: white;
  box-shadow: 8px 8px 15px black;
  margin-bottom:20px;
}

.header-img{
  /*position: relative;
  right: 60px;*/
}

.contact-info{
  position: relative;
  top: 75px;
  left: 100px;
  font-size: 22px;
}

.write-up-title{
    font-weight: bold; 
    text-align:center; 
    padding-top: 20px; 
    text-decoration: underline; 
    text-shadow: 8px 8px 15px black;
}

.img-container{
    margin: 0 auto; 
    width: 90%; 
    padding: 20px;
}

.personal-img{
  width: 400px;
  height: auto;
  margin-bottom: 5px;
}

.intro {
    @include fluid-ratio(900px 500px, 300px 150px);
    background-image: url("../images/portfolioBackgroundEdit4.jpg");
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
   // min-height: 100%;
   /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; */
} 
 
.intro h2 {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
.intro h3 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}

.introAbout h2 {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
.introAbout h3 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
.about{
   // background-color: #AA0000;
    background-color: #3299FF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#profile img{
    
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    display: flex;

   flex-direction: column;
    box-shadow: 8px 8px 15px black;
}
#statement blockquote { 
   font-size: 30px;
    text-align: left;
    box-shadow: 8px 8px 15px black;
    display: flex;
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 32px;
    display: flex;

   flex-direction: column;
}
.projects{
  // background-color: black;
  background-color: #3299FF;
  padding-top: 40px;
  /*padding-bottom: 250px;*/
  padding-left: 50px;
  padding-right: 50px;    
  color: black;
}
.projectContent{
   margin: auto;  
   /* margin-left: 400px;
    margin-right: auto;*/
}

#projectsGroup1{
    /*margin-top: 100px;
    padding-bottom: 50px;*/
    background-color: #fde700;
    box-shadow: 8px 8px 15px black;
    display: flex;
    border-radius: 25px;
    
}

#projectsGroup2{
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #fde700;
    box-shadow: 8px 8px 15px black;
    display: flex;
    border-radius: 25px;
}

.subject{
    padding-left: 50px;
    padding-right: 50px;
}



.projectItems{
    //background-color: white;
   // box-shadow: 8px 8px 15px black;
   // display: flex;
    border-style: solid;
    height:400px;
    overflow:auto;
        
}

.projectItems p {
   padding-left: 8px;
    padding-right: 8px;
}

.thumbnail{
    border: 2px solid;
    margin-bottom: 0 !important; 
     
}

.desc-box{
    margin: 0 auto; 
    width: 85%; 
    font-size: 20px; 
    background-color: white; 
    box-shadow: 8px 8px 15px black; 
    margin-top: 20px;
}

.write-up-img{
    margin: 0 auto; 
    width: 100%; 
    height: auto; 
    box-shadow: 8px 8px 15px black;
}


/*
#thumbnailTop{
      margin-top: 250px;
      margin-bottom: 100px;
      margin-left: 140px;
}
#thumbnailBottom{
    margin-top: 100px;
    margin-bottom: 250px;
} */
.caption{
    font-size: 20px;
}
.description{
    display: inline;
    background-color: white;
}
.collapse{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

blockquote{
    color:black;
    background-color:#fde700; 
   // text-shadow: 2px 2px 6px black;
    border-radius: 25px;
}

.icons{
   padding-bottom: 30px; 
}

.contact{
    color: black;
    background-color: #3299FF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contactInfo{
   // margin-top: 250px;
    margin-bottom: 250px;
}
/*
#map iframe{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
   // margin-top: 300px;
  //  margin-left: 00px;
  //  margin-bottom: 300px;
    display: flex;
   // flex-direction: column;
    box-shadow: 8px 8px 15px black;
}


#personal {
    background-color: #fde700;
    font-size: 20px;
    text-align: left;
    float: right;
    //width: 400px;
   // height: 250px;
  //  margin-top: 300px;
   // margin-left: 500px;
    box-shadow: 8px 8px 15px black;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding: 32px;
    //flex-direction: column;   
}
*/
/*
#name{
    padding-top: 40px;
    padding-left: 30px;
}
#email{
    padding-left: 30px;
}
#phone{
    padding-left: 30px;
    padding-bottom: 0;
}
.icons{
    padding-bottom: 30px;
    padding-left: 30px;
    display: inline;
}*/

.navbar {
    margin: 0;
} 

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}*/

.project-image{
  width: 350px; 
  height: 170px !important;
}

.flip-container{
  border: 2px solid transparent;
  width: 350px;
  height: 350px;
  background-color:transparent;
  border-radius: 10px;
  perspective: 1000px;
}

/* Flip Inner Container */
.flip-inner-container{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  

}
/* add hover to Flip horizonally */
.flip-container:hover .flip-inner-container{
  transform: rotateY(180deg);
}

/* position front and back */

.flip-front,
.flip-back{
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  /* background-color: green; */
  border-radius: 10px;
  box-shadow: -1px 2px 13px 0px rgba(0,0,0, 0.75);
}

/* flip  front from Start Here */
.flip-front{
  background:#24203b;
  color: #ffffff;
  padding: 20px;
}

.flip-front .profile-image{
  background-image: url("bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;  
  border-radius: 50%;
  border: 4px solid #c500d6;
  margin: auto;
  margin-top: 20px;
}

.flip-front h3{
  margin-top: 5px;
  
}

.flip-front h6{
  font-weight: 200;
  margin: 5px 0;
  text-transform: uppercase;
}
.flip-front h5{
  text-transform: uppercase;
  margin: 30px 0 5px 0;
}

.flip-front .skills{
  border-top: 1px solid #c500d6;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.flip-front .skills span{
  background: #ffffff;
  color: #c500d6;
  padding-top: 2px 5px;
  margin-bottom: 10px;
  display: inline-block;

}


/* flip back from Start Here */
.flip-back{
  background: white;
  transform: rotateY(180deg);

}

.flip-back h2{
  margin-top: 100px;
}

.flip-back .btn{
  display: block;
  padding: 10px 20px;
  background: #24203b;
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  border-radius: 20px;
}

.flip-back .btn:hover{
  background:  #c500d6;
  border: 2px solid #24203b;
}

@media screen and (max-width: 480px) {
  .project-image{
    width: 350px; 
    height: 70px;
  }

  .flip-container{
    margin-bottom: 40px;
    border: 2px solid transparent;
    width: 150px;
    height: 150px;
    background-color:transparent;
    border-radius: 10px;
    perspective: 1000px;
  }
  .caption p{
    display: none;
  }
  .caption i{
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) and (min-width: 480px){
  .project-image{
    width: 350px; 
    height: 100px;
  }

  .flip-container{
    margin-bottom: 40px;
    border: 2px solid transparent;
    width: 200px;
    height: 200px;
    background-color:transparent;
    border-radius: 10px;
    perspective: 1000px;
  }
  .caption p{
    display: none;
  }
  .caption i{
    font-size: 36px;
  }
}

@media screen and (max-width: 991px) {
  .header-img{
    position: initial;
    right: 60px;
  }

  .contact-info{
    position: initial;
    top: 75px;
    right: 15px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 991px){
  .contact-info{
    position: relative;
    top: 75px;
    left: 30px;
    font-size: 18px;
  }
}


