$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 368px) {
  .container {
    max-width: 730px; 
  }
   
}

html, body{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

@mixin fluid-ratio($large-size, $small-size) {
  $width-large: nth($large-size, 1);
  $width-small: nth($small-size, 1);
  $height-large: nth($large-size, 2);
  $height-small: nth($small-size, 2);
  $slope: ($height-large - $height-small) / ($width-large - $width-small);
  $height: $height-small - $width-small * $slope;

  padding-top: $slope * 100%;
  height: $height;

  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
}

.intro {
    @include fluid-ratio(800px 500px, 300px 150px);
    background-image: url("../images/portfolioBackgroundEdit4.jpg"); 
   // min-height: 100%;
   /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; */
} 
 
.intro h2 {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
.intro h3 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}

.introAbout h2 {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
.introAbout h3 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    color:white;
    text-shadow: 2px 2px 8px black;
}
.about{
   // background-color: #AA0000;
    background-color: #3299FF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#profile img{
    
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    display: flex;

   flex-direction: column;
    box-shadow: 8px 8px 15px black;
}
#statement blockquote { 
   font-size: 30px;
    text-align: left;
    box-shadow: 8px 8px 15px black;
    display: flex;
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 32px;
    display: flex;

   flex-direction: column;
}
.projects{
   // background-color: black;
    background-color: #3299FF;
    padding-top: 100px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;    
    color: black;
  
}
.projectContent{
   margin: auto;
   

  
   /* margin-left: 400px;
    margin-right: auto;*/
}

#projectsGroup1{
    margin-top: 100px;
    padding-bottom: 50px;
    background-color: #fde700;
    box-shadow: 8px 8px 15px black;
    display: flex;
}

#projectsGroup2{
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #fde700;
    box-shadow: 8px 8px 15px black;
    display: flex;
}

#subject{
    padding-left: 50px;
    padding-right: 50px;
}

.projectItems{
    //background-color: white;
   // box-shadow: 8px 8px 15px black;
   // display: flex;
    border-style: solid;
    height:400px;
    overflow:auto;
        
}

.projectItems p {
   padding-left: 8px;
    padding-right: 8px;
}

.thumbnail{
    border: 2px solid;
}
/*
#thumbnailTop{
      margin-top: 250px;
      margin-bottom: 100px;
      margin-left: 140px;
}
#thumbnailBottom{
    margin-top: 100px;
    margin-bottom: 250px;
} */
.caption{
    font-size: 20px;
}
.description{
    display: inline;
    background-color: white;
}
.collapse{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
.contact{
    color: black;
   // background-color: #AA0000;
    background-color: #3299FF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
blockquote{
    color:black;
    background-color:white; 
   // text-shadow: 2px 2px 6px black;
}
.contactInfo{
   // margin-top: 250px;
    margin-bottom: 250px;
}
#map iframe{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
   // margin-top: 300px;
  //  margin-left: 00px;
  //  margin-bottom: 300px;
    display: flex;
   // flex-direction: column;
    box-shadow: 8px 8px 15px black;
}

#personal {
    background-color: white;
    font-size: 20px;
    text-align: left;
    float: right;
    //width: 400px;
   // height: 250px;
  //  margin-top: 300px;
   // margin-left: 500px;
    box-shadow: 8px 8px 15px black;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding: 32px;
    //flex-direction: column;   
}/*
#name{
    padding-top: 40px;
    padding-left: 30px;
}
#email{
    padding-left: 30px;
}
#phone{
    padding-left: 30px;
    padding-bottom: 0;
}
.icons{
    padding-bottom: 30px;
    padding-left: 30px;
    display: inline;
}*/

.navbar {
    margin: 0;
} 

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

