<div class ="projects">
    <div class="header-intro">
        <div class="header-img inline-block p-10">
            <img src = "images/profile.jpg" alt="Personal Image" class="personal-img img-thumbnail">
        </div>
        <div class="contact-info inline-block center-text pl-20 p-10">
            <p class="card-text s-24"><strong>Jeff Bigler</strong></p>
            <p class="card-text"><strong>Email:</strong> JeffreyRichardBigler@gmail.com</p>
            <p class="card-text"><strong>Phone:</strong> (206) 714-8777</p><br>
            <div class="icons">
                <a href="https://github.com/JBigs206" target="_blank"><i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/jeff-bigler-bab13646" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x" aria-hidden="true"></i></a>
                </div>
            
        </div>
    </div>
</div>

<div class ="projects" id="projects">
    <div class ="projectContent">
        <div id ="projectsGroup1" style="display:block;">
            <div class ="subject">
                <div class = "row mb-20">
                    <h2><strong>Professional Expereince:</strong></h2><br>
                </div>
                <div class = "row mb-20">
                    <div class = "col-sm-6 col-md-6">
                        <div class="flip-container zero-margin">
                            <div class="flip-inner-container">
                                <div class="flip-front">
                                    <div class = "thumbnail">
                                        <a href="https://justsaltit.com/" target="_blank"><img src = "images/jsi.JPG" alt="Just Salt It" class="project-image"></a>
                                    </div>
                                </div>
                                <div class="flip-back">
                                    <div class = "caption">
                                        <center><h3><strong>Just Salt It</strong></h3></center>
                                        <p class="p-10">Recipe, home care, and healthy lifestyle website. This site was built using Laravel framework MySQL, and TinyMCE WYSIWYG editor for admin control.</p>
                                        <p>
                                            <center>
                                                <a class="smallIcons" href="https://justsaltit.com/" target="_blank"><i class="fa fa-desktop fa-fw fa-3x" aria-hidden="true"></i></a>
                                            </center>  
                                        </p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>                    

                    <div class = "col-sm-6 col-md-6">
                        <div class="flip-container zero-margin">
                            <div class="flip-inner-container">
                                <div class="flip-front">
                                    <div class = "thumbnail">
                                        <a href="http://app.aromayogini.com/app/public/login" target="_blank"><img src="images/aromayYogini.JPG" alt="Aroma Yogini" class="project-image"></a>
                                    </div>
                                </div>
                                <div class="flip-back">
                                    <div class = "caption">
                                        <center><h3><strong>Aroma Yogini</strong></h3></center>
                                        <p class="p-10">Yoga and meditation paid subscription website. This site was built using Laravel framework, and MySQL</p>
                                        <p>
                                            <center>
                                                <a class="smallIcons" href="http://app.aromayogini.com/app/public/login" target="_blank"><i class="fa fa-desktop fa-fw fa-3x" aria-hidden="true"></i></a>
                                            </center>
                                        </p>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "col-sm-6 col-md-6">
                        <div class="flip-container zero-margin">
                            <div class="flip-inner-container">
                                <div class="flip-front">
                                    <div class = "thumbnail">
                                        <a href="https://app.emergencycontactlink.com/login" target="_blank"><img src="images/ecl_home.JPG" alt = "Emergency COntact Link" class="project-image"></a>
                                    </div>
                                </div>
                                <div class="flip-back">
                                    <div class = "caption">
                                        <center><h3><strong>Emergency Contact Link</strong></h3></center>
                                        <p class="p-10">Hybrid app and website that lets users set up emergency contacts which get notified in the event of an emergency. This project uses Angular 8, Laravel, and MySQL.</p>
                                        <p>
                                            <center>
                                                <a class="smallIcons" href="https://app.emergencycontactlink.com/" target="_blank"><i class="fa fa-desktop fa-fw fa-3x" aria-hidden="true"></i></a>
                                            </center>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class = "col-sm-6 col-md-6">
                        <div class="flip-container zero-margin">
                            <div class="flip-inner-container">
                                <div class="flip-front">
                                    <div class = "thumbnail">
                                        <a href="https://play.google.com/store/apps/details?id=com.JBerger.EKGTest1" target="_blank"><img src = "images/oldEKG.JPG" alt="Old EKG" class="project-image"></a>
                                    </div>
                                </div>
                                <div class="flip-back">
                                    <div class = "caption">
                                        <center><h3><strong>Old EKG</strong></h3></center>
                                        <p class="p-10">Medical app which allows users to keep records of thier EKG's. This app was built using Ionic 3 and Angular frameworks</p>
                                        <p>
                                            <center>
                                                <a class="smallIcons" href="https://play.google.com/store/apps/details?id=com.JBerger.EKGTest1" target="_blank"><i class="fa fa-desktop fa-fw fa-3x" aria-hidden="true"></i></a>
                                            </center>
                                        </p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div> 
</div>

<div class="modal" id="contactModalVertical" tabindex="-1" role="dialog" aria-labelledby="contactModalVerticalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center><h2 class="modal-title" id="contactModalVerticalLabel"><strong>Contact</strong></h2></center>
            </div>
            <div class="modal-body">
                <center><h2 class="card-text" id="name"><strong>Jeff Bigler</strong></h2></center>
                <center><h3 class="card-text" id="email"><strong>Email:</strong> JeffreyRichardBigler@gmail.com</h3></center>
                <center><h3 class="card-text" id="phone"><strong>Phone:</strong> (206)-714-8777</h3></center><br>
                <center><div class="icons">
                    <a href="https://github.com/JBigs206" target="_blank"><i class="fa fa-github fa-fw fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/jeff-bigler-bab13646" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x" aria-hidden="true"></i></a>
                    <a href="http://jeffbigler.weebly.com/" target="_blank"><i class="fa fa-external-link-square fa-fw fa-2x" aria-hidden="true"></i></a>
                    </div></center>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div> 

<div id="resumeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 class="modal-title"><strong>Resume</strong></h4></center>
            </div>
            <div class="modal-body">
                <embed src="images/Jeff%20Bigler%20Resume.pdf"
                       frameborder="0" width="100%" height="600px">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>